<!DOCTYPE html>
{% extends "encyclopedia/layout.html" %}

{% block title %}
Create
{% endblock %}

{% block body %}
    {% if errv %}
        <div class="alert alert-danger" role="alert">
            Title already exists! Try another.
        </div>
    {% endif %}
    <form action="{% url 'encyclopedia:newm' %}" method="post">
        {% csrf_token %}
        <label style="width:100%">Title</label>
        <input type="text" name="titl" style="width:80%">
        <label style="width:100%">Content</label>
        <textarea style="height:400px" name="cont" wrap="soft">{{contr}}</textarea>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}